@model SiteTriks.Dynamic.Models.DynamicTypeMainViewModel

@{
    var entries = Model.Entries.OrderBy(e => e["Position"]).ToList();
    // var entries = Model.Entries.ToList();

}

@*add order of the items
    - *@

<div class="detailed-menu hidden-by-menu">
    <div class="wrapper-detailed-menu">
        <div class="row">
            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 before-middle-box"></div>
            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 before-middle-box"></div>
        </div>
        <div class="row">
            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div id="middle-box">
                    <div class="advanced-cms">
                        Advance CMS
                    </div>
                    <div class="entreprise-features">
                        Enterprise Features
                    </div>
                    <div class="entreprise-description">
                        Available with SiteTriks's free basic license.
                    </div>
                    <div class="arrows">
                        <img src="https://sitetriks.azureedge.net/static-files/images/mobile/shrank.svg" alt="shrank" class="side-arrow main-arrows" />
                        <img src="https://sitetriks.azureedge.net/static-files/images/mobile/Arrow down.svg" alt="shrank" style="display:none" class="arrow-down main-arrows" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 after-middle-box"></div>
            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 after-middle-box"></div>
        </div>
        <div class="wrapper-menu-items">
            @{

            }
            @for (int i = 0; i < 13 && i < Model.Entries.Count(); i += 2)
            {
                bool flag = i >= 7 && i <= 11;
                bool flagLastText = i >= 12;
                bool lastine = i == 12;
                var format = "background: url(https://sitetriks.azureedge.net/static-files/images/sprites/Sprite_Features.png) no-repeat top left; width: 122px; height: 122px; {0}";

                <div class="row @if (flag) {<text> hidden-section </text> }" @if (flag) { <text> style="display: none" </text> }>
                    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 item before-item"></div>
                    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 item before-item"></div>
                    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 item before-item @if(lastine) {<text> last-before-item </text> }"></div>
                    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 item before-item fourth-last"></div>
                </div>
                <div class="row tree-row @if(flag) {<text> hidden-section </text> }" @if (flag) { <text> style="display: none" </text> }>
                    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-12 item item-left">
                        @*@{Html.RenderPartial("MiddleMenuTemplate");}*@
                        <div itemscope itemtype="http://schema.org/TechArticle">
                            <div class="tree-item">
                                @*item image*@
                                <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject" id="@entries[i]["CustomId"]" class="icon">
                                    <div itemprop="image"></div>
                                    <div itemprop="url" hidden>https://sitetriks.azureedge.net/static-files/images/sprites/Sprite_Features.png</div>
                                </div>
                                <div class="item-header">
                                    <img src="https://sitetriks.azureedge.net/static-files/images/mobile/Arrow down.svg" alt="shrank" style="display:none" class="arrow-down item-arrow" />
                                    <img src="https://sitetriks.azureedge.net/static-files/images/mobile/side arrow dark.svg" alt="shrank" class="side-arrow item-arrow" />
                                    @*Title*@
                                    @*Envirement sync*@
                                    <div><span itemprop="http://schema.org/headline">@entries[i]["Title"]</span></div>
                                </div>
                                @*// item contents*@
                                <div class="item-body @if(flagLastText) {<text> hidden-section-last-body </text> }" @if (flagLastText) { <text> style="display: none" </text> }>
                                    @*@Model.ClassHelper.GetPropertyValue(entries[i], "Content")*@
                                    <span class="content short-text" itemprop="http://schema.org/articleBody">
                                        @Html.Raw(System.Net.WebUtility.HtmlDecode(entries[i]["Content"]))
                                    </span>
                                    <div class="read-more">
                                        <span class="more">READ MORE ...</span>
                                        <span class="less" style="display:none;">SHOW LESS</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (Model.Entries.Count() % 2 == 1 && i + 1 == 13)
                    {
                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-12 item item-right last-item }" style="border-left: none">
                            @*@{Html.RenderPartial("MiddleMenuTemplate");}*@
                            <div class="tree-item more-items">
                                <div class="icon sprites">
                                    @*<img src="" alt="menu-icon">*@
                                </div>
                                <div class="item-header">
                                    <div class="more-less-text">SHOW MORE</div>
                                    <div class="more-less-text" style="display:none;">SHOW LESS</div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-12 item item-right">
                            <div itemscope itemtype="http://schema.org/TechArticle">
                                <div class="tree-item">
                                    <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject" id="@entries[i+1]["CustomId"]" class="icon">
                                        <div itemprop="image"></div>
                                        <div itemprop="url" hidden>https://sitetriks.azureedge.net/static-files/images/sprites/Sprite_Features.png</div>
                                    </div>
                                    <div class="item-header">
                                        <img src="https://sitetriks.azureedge.net/static-files/images/mobile/Arrow down.svg" alt="shrank" style="display:none" class="arrow-down item-arrow" />
                                        <img src="https://sitetriks.azureedge.net/static-files/images/mobile/side arrow dark.svg" alt="shrank" class="side-arrow item-arrow" />
                                        @*Title*@
                                        <div><span itemprop="http://schema.org/headline">@entries[i + 1]["Title"]</span></div>
                                    </div>
                                    @*// item contents*@
                                    <div class="item-body">
                                        <span class="content short-text" itemprop="http://schema.org/articleBody">
                                            @*@Model.ClassHelper.GetPropertyValue(entries[i + 1], "Content")*@
                                            @Html.Raw(System.Net.WebUtility.HtmlDecode(entries[i + 1]["Content"]))
                                        </span>
                                        <div class="read-more">
                                            <span class="more">READ MORE ...</span>
                                            <span class="less" style="display:none;">SHOW LESS</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }

        </div>
    </div>
</div>
