@*@model IEnumerable<SiteTriks.BlogModule.Models.Blog.BlogPostViewModel>*@

@{
    ViewBag.Title = "Blog";
}

<div class="fixed-top-2">
    @await Html.PartialAsync("SecondNavHeader")

    <a href="@Url.Action("Create")" class="btn-nav-2">Create Blog</a>
</div>


<div class="backend-wrapper">
    <div class="grid"></div>
</div>


@section scripts{
    <script type="text/javascript">

        $(document).ready(function (ev) {

            var grid = Grid();
            var data = { link: "/sitetriks/blog/grid", serverSide: false }
            var columns = [
                {
                    name: "title",
                    title: "Title",
                    type: 'string',
                    filter: true,
                    sort: true,
                    size: 2,
                    headerTemplate: '<strong>#item#</strong>' // #item# is the placeholder for the content
                },
                {
                    name: "creator",
                    title: "Creator",
                    type: 'string',
                    filter: true,
                    sort: true,
                    size: 2,
                    headerTemplate: '<strong>#item#</strong>' // #item# is the placeholder for the content
                },
                {
                    name: "dateCreated",
                    title: "Date Created",
                    type: 'date',
                    filter: false,
                    sort: true,
                    size: 2,
                    headerTemplate: '<strong>#item#</strong>' // #item# is the placeholder for the content
                },
                {
                    name: "summary",
                    title: "Summary",
                    type: 'string',
                    filter: true,
                    sort: true,
                    size: 2,
                    contentTemplate: '<span class="">#item#</span>',
                    headerTemplate: '<strong>#item#</strong>'
                },
                {
                    name: "id",
                    title: "Action",
                    type: 'string',
                    filter: false,
                    sort: false,
                    size: 2,
                    headerTemplate: '<strong>#item#</strong>',
                    contentTemplate: '<a class="btn" href="/sitetriks/blog/edit/#item#">Edit</a> | <a class="btn btn" href="/sitetriks/blog/details/#item#">Read more...</a>'
                }
            ];

            var config = grid.build(columns, [], grid.defaultPager, data);

            let obj = grid.init('.grid', config);

        });
    </script>
}


@*<div class="backend-wrapper">
    @foreach (var item in Model)
    {
        <div>
            <h3>@item.Title</h3>
            <div>@Html.Raw(item.Summary)</div>
            <div class="ta-right"><span><strong>@item.Creator </strong></span><i>@item.DateCreated</i></div>
            <a href="@Url.Action("Details",new { id = item.Id})">Read more...</a>
        </div>

        <hr />
    }
</div>*@
