@model SiteTriks.Models.UserGroups.CreateEditUserGroupViewModel

@{
    ViewBag.Title = "Edit User Group";
}

@section Styles {
    <link href="~/css/navbar-remove.css" rel="stylesheet" />
}

<div class="backend-wrapper">
    <div class="fixed-top-2">
        @await Html.PartialAsync("SecondNavHeader")
        <a href="@Url.Action("Index")" class="btn-nav-2"><span class="st-icon-return-to-list"></span>Return to List</a>
        <input type="submit" value="Edit" class="btn-nav-2" />
        <a class="btn-nav-2 delete-btn">Delete</a>
    </div>
    <div class="row">
        <h3>User Group: <span id="title">@Model.Title</span></h3>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-3">
            <select class="all-users-select col-md-12" multiple>
                @foreach (var user in Model.AllUserNames)
                {
                    <option value="@user">@user</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <a class="btn move-to-right center-block">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
            <a class="btn move-to-left center-block">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-md-3">
            <select class="users-to-role-select col-md-12" multiple>
                @foreach (var user in Model.UserWithCurrentGroup)
                {
                    <option>@user</option>
                }
            </select>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/leaving-warning.js"></script>
    <script src="~/js/sitetriks/user-groups.js"></script>
    <script>
        editUserGroup('@Url.Action("Delete", "UserGroups")');
    </script>
}