@model SiteTriks.SiteMapModule.Models.SiteMapViewModel

@{
    ViewBag.Title = "SiteMap";
}

<div class="fixed-top-2">
    @await Html.PartialAsync("SecondNavHeader")
</div>

<div class="backend-wrapper">
    <div class="sitemap-container">
        <div class="panel panel-primary">
            <div class="panel-heading"><b>Sitemap</b></div>
            <div class="panel-body">
                <div class="panel-group">
                    <div class="panel panel-info">
                        <div class="panel-heading"><b>Options</b></div>
                        <div class="panel-body">
                            @using (Html.BeginForm("ViewXml", "SiteMap", FormMethod.Get, htmlAttributes: new { @class = "btn-group inline" }))
                            {
                                <button class="btn btn-info">Raw view</button>
                            }
                            @using (Html.BeginForm("Export", "SiteMap", FormMethod.Get, htmlAttributes: new { @class = "btn-group inline" }))
                            {
                                <button class="btn btn-warning">Export</button>
                            }
                            @using (Html.BeginForm("UpdateSiteMap", "SiteMap", FormMethod.Get, htmlAttributes: new { @class = "btn-group inline" }))
                            {
                                <button class="btn btn-danger">Update sitemap.xml</button>
                            }
                            <hr>
                            <div id="schedule-form-wrapper">
                                <h4>Schedule all sitemaps file</h4>
                                @using (Html.BeginForm("ScheduleAllSitemaps", "SiteMap", FormMethod.Get, htmlAttributes: new { @class = "btn-group inline" }))
                                {
                                    @Html.DropDownList("Interval",
                                                   Html.GetEnumSelectList<SiteTriks.SiteMapModule.Common.CronType>(),
                                                   "None",
                                                   new { @class = "form-control", required = "required" })
                                    <button class="btn btn-success">Schedule</button>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading"><b>SiteMap</b></div>
                        <div class="panel-body">
                            <div class="sitemap-inner-container">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h2>Pages</h2>
                                        <ul>
                                            @foreach (var item in Model.Pages)
                                            {
                                                <li><a href="@item.Item2">@item.Item1</a></li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <h2>News</h2>
                                        <ul>
                                            @foreach (var item in Model.News)
                                            {
                                                <li><a href="@item.Item2">@item.Item1</a></li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <h2>Files</h2>
                                        <ul>
                                            @foreach (var item in Model.Files)
                                            {
                                                <li><a href="@item.Item2">@item.Item1</a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
