@model SiteTriks.Extensions.WidgetModels.WidgetModel

@{
    bool isId = Guid.TryParse(Model.Element, out Guid blockId);
}

@if (Model.IsPreview)
{
    <div class="preview-placeholder" data-identifier="@Model.Id">
        @await Html.PartialAsync("~/Areas/SiteTriks/Views/Shared/WidgetControl.cshtml", model: Model)

        <div class="@Model.CssClass">
            @if (isId)
            {
                @await Component.InvokeAsync("HtmlWidget", new { id = blockId })
            }
            else
            {
                @Html.Raw(Model.Element)
            }
        </div>
    </div>
}
else
{
    if (Model.CanViewByRole && Model.CanViewByGroup)
    {
        <div class="@Model.CssClass">
            @if (isId)
            {
                @await Component.InvokeAsync("HtmlWidget", new { id = blockId })
            }
            else
            {
                @Html.Raw(Model.Element)
            }
        </div>
    }

}