@model ProfileViewModel

@{
    ViewData["Title"] = "Profile";
    Layout = "/Views/Shared/_AccountLayout.cshtml";
}

<div>
    <content>
        <div class="sitetriks-login container main-content content-placeholder">
            <div class="row">
                <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="account-form">
                        <div class="account-form-header">
                            <img src="~/images/requests-copy-2.png" />
                            <div>@Model.IndexViewModel.Username</div>
                        </div>
                        @using (Html.BeginForm("Index", "Manage"))
                        {
                            <ul class="form-group form-summary"></ul>
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                @Html.LabelFor(m => m.IndexViewModel.Username)
                                @Html.EditorFor(m => m.IndexViewModel.Username, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(m => m.IndexViewModel.Username)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.IndexViewModel.Email)
                                @Html.EditorFor(m => m.IndexViewModel.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(m => m.IndexViewModel.Email)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.IndexViewModel.PhoneNumber)
                                @Html.EditorFor(m => m.IndexViewModel.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(m => m.IndexViewModel.PhoneNumber)
                            </div>
                            @Html.ActionLink("Delete account", "DeleteAccount")

                            <button type="submit" class="btn btn-default">Save</button>
                        }
                    </div>
                </div>
                <div class="col col-lg-9 col-md-9 col-sm-9 col-xs-12 carousel-holder">
                    <div class="profile-form-carousel">
                        <div class="profile-form-wrapper">
                            <div class="image-wrapper">
                                <img class="profile-form-img key" src="~/images/default-document-image.png" />
                            </div>
                            <div class="profile-form">
                                <div class="form-header">
                                    Password
                                </div>
                                @using (Html.BeginForm("ChangePassword", "Manage"))
                                {
                                    <ul class="form-group form-summary"></ul>
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ChangePasswordViewModel.OldPassword)
                                        @Html.EditorFor(m => m.ChangePasswordViewModel.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(m => m.ChangePasswordViewModel.OldPassword)
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ChangePasswordViewModel.NewPassword)
                                        @Html.EditorFor(m => m.ChangePasswordViewModel.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                                        <span asp-validation-for="ChangePasswordViewModel.NewPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ChangePasswordViewModel.ConfirmPassword)
                                        @Html.EditorFor(m => m.ChangePasswordViewModel.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(m => m.ChangePasswordViewModel.ConfirmPassword)
                                    </div>
                                    <button type="submit" class="btn btn-save">Save</button>
                                }
                            </div>
                        </div>
                        <div class="profile-form-wrapper">
                            <div class="image-wrapper">
                                <img class="profile-form-img phone" src="~/images/default-document-image.png" />
                            </div>
                            <div class="profile-form">
                                <div class="form-header">
                                    2 Factor Authentication
                                </div>
                                <div class="tfa-wrapper">
                                    @if (Model.TwoFactorAuthenticationViewModel.Is2faEnabled)
                                    {
                                        if (Model.TwoFactorAuthenticationViewModel.RecoveryCodesLeft == 0)
                                        {
                                            <div class="alert alert-danger">
                                                <strong>You have no recovery codes left.</strong>
                                                <p>You must <a asp-action="GenerateRecoveryCodes">generate a new set of recovery codes</a> before you can log in with a recovery code.</p>
                                            </div>
                                        }
                                        else if (Model.TwoFactorAuthenticationViewModel.RecoveryCodesLeft == 1)
                                        {
                                            <div class="alert alert-danger">
                                                <strong>You have 1 recovery code left.</strong>
                                                <p>You can <a asp-action="GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
                                            </div>
                                        }
                                        else if (Model.TwoFactorAuthenticationViewModel.RecoveryCodesLeft <= 3)
                                        {
                                            <div class="alert alert-warning">
                                                <strong>You have @Model.TwoFactorAuthenticationViewModel.RecoveryCodesLeft recovery codes left.</strong>
                                                <p>You should <a asp-action="GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
                                            </div>
                                        }

                                        <a asp-action="Disable2faWarning" class="btn btn-tfa">Disable 2FA</a>
                                        <a asp-action="GenerateRecoveryCodesWarning" class="btn btn-tfa">Reset recovery codes</a>
                                    }

                                    @if (!Model.TwoFactorAuthenticationViewModel.HasAuthenticator)
                                    {
                                        <a asp-action="EnableAuthenticator" class="btn btn-tfa">Add authenticator app</a>
                                    }
                                    else
                                    {
                                        <a asp-action="EnableAuthenticator" class="btn btn-tfa">Configure authenticator app</a>
                                        <a asp-action="ResetAuthenticatorWarning" class="btn btn-tfa btn-dark">Reset authenticator key</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </content>
</div>

@await Html.PartialAsync("_AccountFooter")

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        (function () {
            $('form').on('submit', submitForm);

            function submitForm(ev) {
                var $summary = $(this).find('.form-summary');
                $summary.html('');
                Data.postForm({ url: this.action, formData: new FormData(this) }).then(function (res) {
                    if (res.message) {
                        $summary.append(`<li>${res.message}</li>`);
                    }

                    if (res.messages && res.messages.length) {
                        for (var i = 0; i < res.messages.length; i += 1) {
                            $summary.append(`<li>${res.messages[i]}</li>`);
                        }
                    }
                })

                ev.preventDefault();
                return false;
            }
        })();
    </script>

    <script>
        $(document).ready(function () {
            let windowWidth = $(window).width();
            let $imageKey = $('.profile-form-img.key');
            let $imagePhone = $('.profile-form-img.phone');

            let imageKeyFourk = '/images/profile/key-4K.png';
            let imageKey = '/images/profile/key.png';
            let imagePhoneFourk = '/images/profile/Mobile-4K.png';
            let imagePhone = '/images/profile/Mobile.png';

            console.log(windowWidth);

            function selectLoginImage() {
                if (windowWidth >= 2800) {
                    $imageKey.attr('src', imageKeyFourk);
                    $imagePhone.attr('src', imagePhoneFourk);

                } else {
                    $imageKey.attr('src', imageKey);
                    $imagePhone.attr('src', imagePhone);
                }
            }

            $(window).ready(selectLoginImage);
            $(window).resize(selectLoginImage);
        });
    </script>
}
