@model SiteTriks.Models.EndPoints.EditEndPointViewModel

@{
    ViewBag.Title = "Edit EndPoint";
}

@section Styles {
    <link href="~/css/navbar-remove.css" rel="stylesheet" />
}

<div class="backend-wrapper">
    <h4>EndPoint</h4>
    <hr />
    <div class="page-properties">
        <form asp-action="Edit" id="form-endpoint">
            @Html.HiddenFor(m => m.Id)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Name" class="control-label col-xs-2"></label>
                <input asp-for="Name" class="form-control input-name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Type" class="control-label col-xs-2"></label>
                <select asp-for="Type" id="select-type" class="form-control">
                    <option value="">-- Select Table --</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="RequestType" class="control-label col-xs-2"></label>
                <select asp-for="RequestType" class="form-control" id="select-request-type">
                    <option value="GET">GET</option>
                    <option value="EDIT">EDIT</option>
                    <option value="CREATE">CREATE</option>
                    <option value="DELETE">DELETE</option>
                </select>
                <span asp-validation-for="RequestType" class="text-danger"></span>
            </div>

            <div class="section-get" hidden>
                <div class="form-group row">
                    <label asp-for="JoinTable" class="control-labe col-xs-2"></label>
                    <select asp-for="JoinTable" id="select-join-table" class="form-control">
                        <option value="">-- Select Table --</option>
                    </select>
                    <span asp-validation-for="JoinTable" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label asp-for="JoinKey" class="control-label col-xs-2"></label>
                    <select asp-for="JoinKey" id="select-join-key" class="form-control"></select>
                    <span asp-validation-for="JoinKey" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-xs-2">
                        <label asp-for="JoinFields" class="control-label"></label>
                        <div class="st-hint st-info"><span class="st-tooltip">Must specify exact names of the columns from join table separated with ';' and no whitespaces.</span></div>
                    </div>
                    <input asp-for="JoinFields" class="form-control input-joinfields" />
                    <span asp-validation-for="JoinFields" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label asp-for="Skip" class="control-label col-xs-2"></label>
                    <input asp-for="Skip" class="form-control input-paging" />
                    <span asp-validation-for="Skip" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label asp-for="Take" class="control-label col-xs-2"></label>
                    <input asp-for="Take" class="form-control input-paging" />
                    <span asp-validation-for="Take" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label asp-for="Column" class="control-label col-xs-2"></label>
                    <select asp-for="Column" id="select-column" class="form-control"></select>
                    <span asp-validation-for="Column" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label asp-for="Order" class="control-label col-xs-2"></label>
                    <select asp-for="Order" class="form-control">
                        <option value="0">Ascending</option>
                        <option value="1">Descending</option>
                    </select>
                    <span asp-validation-for="Order" class="text-danger"></span>
                </div>
            </div>

            <div class="fixed-top-2">
                @await Html.PartialAsync("SecondNavHeader")

                <a href="@Url.Action("Index")" class="btn-nav-2"><span class="st-icon-return-to-list"></span>Return to List</a>
                <input type="submit" value="Save & Exit" class="btn-nav-2" />
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/js/validator.js"></script>
    <script type="text/javascript" src="~/js/sitetriks/endpoints.js"></script>
    <script>
        (function (ev) {
            var selectedType = '@Model.Type';
            var selectedJoinTable = '@Model.JoinTable';
            var selectedJoinKey = '@Model.JoinKey';
            var selectedColumn = '@Model.Column';

            WarningWindow.attach();
            initEndpointCreateEdit(selectedType, selectedJoinTable, selectedJoinKey, selectedColumn);
        })();
    </script>
}
