@model SiteTriks.Dynamic.Models.DynamicTypeMainViewModel

@{
    var entries = Model.Entries.OrderBy(e => e["Position"]).ToList();
    var classClicked = "notclicked";

}
<div id="desktop-view-menu" class="features-section bottom-menu">
    <div class="row">
        <div class="col col-lg-1 col-md-1 col-sm-1 col-xs-1">
            @for (int i = 0; i < 10 && i < Model.Entries.Count(); i += 2)
            {
                if (entries[i]["Url"] == "downloads")
                {
                    classClicked = "clicked";
                }
                <div class="menu-icon @classClicked" data-url="@entries[i]["Url"]">
                    <div class="icon-font-wrapper"><i class="@entries[i]["IconClass"]" aria-hidden="true"></i></div>
                    <div class="icon-title">@Html.Raw(System.Net.WebUtility.HtmlDecode(entries[i]["IconTitle"]))</div>
                </div>
            }
        </div>
        <div class="col col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div class="selected-feature" id="static-section">
                <div class="feature-content">
                    @await Html.PartialAsync("_DownloadsPartial")
                </div>
            </div>
        </div>
        <div class="col col-lg-1 col-md-1 col-sm-1 col-xs-1">
            @for (int i = 1; i < 10 && i < Model.Entries.Count(); i += 2)
            {
                <div class="menu-icon" data-url="@entries[i]["Url"]">
                    <div class="icon-font-wrapper"><i class="@entries[i]["IconClass"]" aria-hidden="true"></i></div>
                    <div class="icon-title">@Html.Raw(System.Net.WebUtility.HtmlDecode(entries[i]["IconTitle"]))</div>
                </div>
            }
        </div>
    </div>
</div>
<div class="toggle-menu" data-open-state="opened" style="width: auto;">
    <div class="features-section" style="width: 240px; display: block;">
        <div class="row">
            <div class="side-section col col-lg-1 col-md-1 col-sm-1 col-xs-1" style="width: 117px;">
                @for (int i = 0; i < 10 && i < Model.Entries.Count(); i += 2)
                {
                    <div class="menu-icon" data-url="@entries[i]["Url"]">
                        <div class="icon-font-wrapper"><i class="@entries[i]["IconClass"]" aria-hidden="true"></i></div>
                        <div class="icon-title">@Html.Raw(System.Net.WebUtility.HtmlDecode(entries[i]["IconTitle"]))</div>
                    </div>
                }
            </div>
            <div class="middle-section col-lg-10 col-md-10 col-sm-10 col-xs-10" style="width: 0px;">
                <div class="selected-feature" id="floating-section" style="display: none;"><div class="feature-content"></div></div>
            </div>
            <div class="side-section col col-lg-1 col-md-1 col-sm-1 col-xs-1" style="width: 117px;">
                @for (int i = 1; i < 10 && i < Model.Entries.Count(); i += 2)
                {

                    <div class="menu-icon" data-url="@entries[i]["Url"]">
                        <div class="icon-font-wrapper"><i class="@entries[i]["IconClass"]" aria-hidden="true"></i></div>
                        <div class="icon-title">@Html.Raw(System.Net.WebUtility.HtmlDecode(entries[i]["IconTitle"]))</div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="inline-button">
        <div class="toggle-button">
            <div class="shrink-menu" disabled="true">
                <div class="leaf-button-1" style="display: none;" alt="leaf logo"></div>
                <div class="leaf-button-2" alt="Big screen" style="display: block;"></div>
                <div class="leaf-button-3" style=" display: none;" alt="Decrease window"></div>


            </div>
            <div class="close-menu">
                <div class="arrows-1" style="display: none;" alt="arrows"></div>
                <div class="arrows-2" style="display: block;" alt="arrows"></div>

            </div>
        </div>
    </div>
</div>
