@model SiteTriks.DocumentationModule.Models.TopicDetailsViewModel

<h3>@Model.Name</h3>
@*<div>@Model.Title</div>*@
<div>@Model.ContentName</div>
<div>@Html.Raw(Model.TopicContent)</div>
<div>@Model.Version</div>
