@model SiteTriks.Models.Pages.CreatePageTemplateMainViewModel

<div class="page-properties">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => Model.PageViewModel.EnId)

    <div class="form-group row">
        @Html.LabelFor(model => Model.PageViewModel.EnTitle, "Title", htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => Model.PageViewModel.EnTitle, new { htmlAttributes = new { @class = "form-control title-field inline-block", Id = "title" } })
        <strong><span class="text-danger"></span></strong>
    </div>

    <div class="form-group row description-row">
        @Html.LabelFor(model => Model.PageViewModel.EnDescription, "Description", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => Model.PageViewModel.EnDescription, htmlAttributes: new { @class = "form-control content-field inline-block" })
            @Html.ValidationMessageFor(model => Model.PageViewModel.EnDescription, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => Model.PageViewModel.Template, "Template", htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DisplayFor(model => Model.PageViewModel.Template, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => Model.PageViewModel.Template, "", new { @class = "text-danger" })
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => Model.PageViewModel.Url, htmlAttributes: new { @class = "control-label col-xs-2" })
        @Html.EditorFor(model => Model.PageViewModel.Url, new { htmlAttributes = new { @class = "form-control inline-block", Id = "url" } })
        <strong><span class="text-danger" id="url-validation"></span></strong>
    </div>
</div>
