@model SiteTriks.MarketingEmailModule.Models.MarketingEmailSubscriberModel

<div class="backend-wrapper">
    @using (Html.BeginForm("EditSubcribeInfo", "MarketingEmails", FormMethod.Post))
    {
        <h4>Edit subscription info</h4>
        <hr />
        <div class="center-block">
            @Html.HiddenFor(m => Model.Id)
            @*<div class="col-md-12">*@
            <div class="form-group row">
                @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control", id = "name" } })
            </div>
            @*</div>*@
            @*<div class="col-md-12">*@
            <div class="form-group row">
                @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", id = "email" } })
            </div>
            @*</div>*@

            <input type="submit" value="Edit" class="btn-nav-2" />
        </div>
    }
</div>
@section Scripts {
    <script type="text/javascript" src="~/js/validator.js"></script>
    <script type="text/javascript" src="~/js/sitetriks/marketing-emails.js"></script>
    <script>
        editSubscribeInfo();
    </script>
}

