@model SiteTriks.Models.Emails.BaseEmailModel
@{
    ViewBag.Title = "Create marketing email";
}

@section Styles {
    <link href="~/css/navbar-remove.css" rel="stylesheet" />
}

<div class="backend-wrapper">
    <div id="alert">

    </div>
    @using (Html.BeginForm())
    {
        <div class="fixed-top-2">
            @await Html.PartialAsync("SecondNavHeader")

            <a href="@Url.Action("Index", "Home")" class="btn-nav-2 uppercase"><span class="st-icon-return-to-list"></span>Cancel</a>
            <input type="submit" value="Send" class="btn-nav-2" />
        </div>
        <hr />
        <div class="form-group row">
            @Html.LabelFor(model => model.Sender, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Sender, new { htmlAttributes = new { @class = "form-control", id = "sender" } })
            @Html.ValidationMessageFor(model => model.Sender, "", new { @class = "text-danger" })
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control", id = "subject" } })
            @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
        </div>

        <div class="form-group row" id="email-group-options">
            <label class="control-label col-md-2"></label>
            <div class="col-md-3" id="checkboxes">

            @for (int i = 0; i < Model.Options.Count; i++)
            {
                <label class="checkbox-inline"><input type="checkbox" name="@Model.Options[i].Name" value="@Model.Options[i].Index">@Model.Options[i].Name</label>
                <span class="validation-output"></span>
            }
            <label class="checkbox-inline" id="all-users-label">
                <input type="checkbox" name="All" id="all-users" value="999">All
            </label>
            </div>
            <span class="validation-output"></span>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-2"></label>
            <div id="users" class="inline-block">
            </div>
        </div>

        <div class="form-group row description-row">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="inline-block">
                @Html.TextAreaFor(model => model.Content, new { @class = "form-control", id = "content-area" })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>
    }
</div>
@section Scripts {
    <script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
    <script src="~/js/data.js"></script>
    <script src="~/js/leaving-warning.js"></script>
    <script type="text/javascript" src="~/js/validator.js"></script>
    <script src="~/js/text-editor.js"></script>
    <script src="~/js/sitetriks/marketing-emails.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            textEditor.init('#content-area', 500, 300);
        });

        sendEmails();
    </script>
}