@model SiteTriks.ForumModule.Models.EditCategoryViewModel

@{
    ViewBag.Title = "Edit Category";
}

@section Styles {
    <link href="~/css/navbar-remove.css" rel="stylesheet" />
}

<div class="backend-wrapper">
    @using (Html.BeginForm("Edit", "Categories", FormMethod.Post, new { area = "sitetriks", id = "edit-category" }))
    {
        <div class="fixed-top-2">
            <a href="@Url.Action("Index")" class="btn-nav-2"><span class="st-icon-return-to-list"></span>Back to Categories</a>
            <input type="submit" value="Save & Exit" class="btn-nav-2" />
        </div>

        <div class="page-properties">
            @Html.HiddenFor(model => model.Id)

            <div class="form-group row">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control inline-block validate", data_validation_type = "required length", data_min = "3" } })
            </div>

            <div class="form-group row description-row">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control content-field inline-block validate", data_validation_type = "required" } })
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script src="~/js/validator.js"></script>
    <script src="~/js/sitetriks/discussions.js"></script>
    <script type="text/javascript">
        WarningWindow.attach();
        setupAjaxForm('#edit-category', '/forum/category');
    </script>
}
