@model SiteTriks.Extentions.WidgetModels.WidgetModel

@{
    string displayName = SiteTriks.Extentions.WidgetRegistry.GetDisplayNameForType(Model.Type);
}

<div class="clearfix widget-control">
    @if (!Model.IsStatic)
    {
        if (!Model.IsLocked || User.IsInRole(UserRoles.SuperAdmin))
        {
            <div class="widget-control-actions-wrapper">
                <span class="glyphicon glyphicon-edit btn btn-warning edit-widget" title="Edit" data-id="@Model.Id" data-type="@Model.Type" data-display="@displayName"></span>
                <span class="glyphicon glyphicon-remove btn btn-danger delete-widget" title="Delete" data-id="@Model.Id" data-type="@Model.Type"></span>
            </div>
        }

        if (User.IsInRole(UserRoles.SuperAdmin))
        {
            <label>
                Lock widget
                <input type="checkbox" data-id="@Model.Id" data-type="@Model.Type" data-order="@Model.Order" class="lock-widget" @if (Model.IsLocked) { <text> checked</text>} />
            </label>
        }

        <div class="widget-name-label">@displayName</div>
    }
</div>
