@model SiteTriks.ForumModule.Data.Models.Discussion

@{
    ViewBag.Title = Model.Title + " Threads";
}

@section Styles {
    <link href="~/css/navbar-remove.css" rel="stylesheet" />
}

    <div class="fixed-top-2">
        @await Html.PartialAsync("SecondNavHeader")

        <a href="/sitetriks/discussions" class="btn-nav-2"><span class="st-icon-return-to-list"></span>Back to discussions</a>
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink(linkText: "Create Thread",
                          actionName: "Create",
                          controllerName: "Threads",
                          routeValues: new { id = Model.Id },
                          htmlAttributes: new { @class = "btn-nav-2" })
        }
    </div>

<div class="backend-wrapper">
    <div class="grid"></div>
</div>


@section scripts{
    <script type="text/javascript">

        $(document).ready(function (ev) {

            var grid = Grid();
            var data = { link: "/sitetriks/threads/grid", serverSide: false }
            var columns = [
                {
                    name: "title",
                    title: "Threads",
                    type: 'string',
                    filter: true,
                    sort: true,
                    size: 2,
                    headerTemplate: '<strong>#item#</strong>' // #item# is the placeholder for the content
                },
                {
                    name: "creator",
                    title: "Creator",
                    type: 'string',
                    filter: true,
                    sort: true,
                    size: 2,
                    headerTemplate: '<strong>#item#</strong>' // #item# is the placeholder for the content
                },
                {
                    name: "dateCreated",
                    title: "Date Created",
                    type: 'date',
                    size: 2,
                    headerTemplate: '<strong>#item#</strong>' // #item# is the placeholder for the content
                },
                {
                    name: "dateModified",
                    title: "Date Modified",
                    type: 'date',
                    size: 2,
                    headerTemplate: '<strong>#item#</strong>' // #item# is the placeholder for the content
                },
                {
                    name: "id",
                    title: "Action",
                    type: 'string',
                    filter: false,
                    sort: false,
                    size: 2,
                    headerTemplate: '<strong>#item#</strong>',
                    contentTemplate: '<a class="btn" href="/sitetriks/threads/thread/#item#">Details</a> | <a class="btn" href="/sitetriks/threads/edit?threadId=#item#">Edit</a> | <a class="btn btn" href="/sitetriks/threads/delete?threadId=#item#">Delete</a>'
                }
            ];

            var config = grid.build(columns, [], grid.defaultPager, data);

            let obj = grid.init('.grid', config);

        });
    </script>
}




@*<div class="backend-wrapper">
    @foreach (var item in Model.Threads)
    {
        <div class="cf_wrapper">
            <div class="dates-container">
                <div>
                    <i>Date created</i>
                    <span class="label label-default">@item.DateCreated</span>
                </div>
                <div>
                    <i>Date modified</i>
                    <span class="label label-success">@item.DateModified</span>
                </div>
                @if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.BackEnd) || User.IsInRole(UserRoles.SuperAdmin))
                {
                    @Html.ActionLink("Edit", "Edit", "Threads", new { threadId = item.Id, discussionId = ViewBag.discussionId }, new { @class = "cf_button btn btn-warning" })
                    @Html.ActionLink("Delete", "Delete", "Threads", new { threadId = item.Id, discussionId = ViewBag.discussionId }, new { @class = "cf_button btn btn-danger" })
                }
            </div>
            <div class="thread-title">
                <span>@Html.ActionLink(item.Title, "Thread", "Threads", new { id = item.Id })</span>
            </div>
            <div class="thread-description">
                <div><i><b>Created by</b></i></div>
                <div class="label label-default">

                    @item.Creator
                </div>
            </div>
        </div>
    }
</div>*@
