@using Microsoft.AspNetCore.Identity
@using SiteTriks.Data.Models;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model SiteTriks.Helpers.Tree<SiteTriks.Models.Pages.NavigationPageViewModel>

<div class="navigation-widget-wrapper">
    <div class="header-wrapper header-white">
        <div class="logo-container">
            <div><a href="/sitetriks"><img class="logo-desktop" src="~/images/LOGO.svg" alt="Sitetriks logo" /></a></div>
        </div>
        <div class="desktop-account-icons">
            @if (ViewData.ContainsKey("Preview") && (ViewData["Preview"].ToString() == "preview" || ViewData["Preview"].ToString() == "partial"))
            {
                <div class="">User Navigation</div>
            }
            else
            {
                if (SignInManager.IsSignedIn(User))
                {
                    <div class="">
                        @using (Html.BeginForm("LogOut", "Account", new { returnUrl = Context.Request.Path + Context.Request.QueryString }, FormMethod.Post, true, new { id = "logoutForm", @class = "inline-block" }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="submit" value="Logout" />
                        }
                    </div>
                    <div class="">
                        @Html.ActionLink("Hello " + UserManager.GetUserName(User) + "!", "Index", "Manage", routeValues: new { area = "" }, htmlAttributes: new { title = "Manage" })
                    </div>
                }
                else
                {
                    if (ViewData["Type"] == "login")
                    {
                        <div class="register-icon">
                            @Html.ActionLink("", "Register", "Account", new { area = "" }, new { title = "Register" })
                        </div>

                    }
                    else if (ViewData["Type"] == "register")
                    {
                        <div class="login-icon">
                            @Html.ActionLink("", "Login", "Account", new { area = "" }, new { title = "Login" })

                        </div>
                    }
                }
            }
            </div>
        <div class="logo-container-mobile">
            <div id="hamburger-menu"><img class="hamburger-image" src="~/images/mobile/hamburger menu.svg" alt="menu" /></div>
            <div class="logo-mobile"><img class="logo-mobile-image" src="~/images/mobile/LOGO_mob.svg" alt="Sitetriks logo" /> <img class="logo-mobile-image" style="display: none;" src="~/images/mobile/LOGO_mob_w.svg" alt="Sitetriks logo" /></div>

        </div>
    </div>

    <div class="nav-container header-wrapper header-blue">
        <nav class="multi-level-navigation">
            <ul class="main-navigation">
                    @for (int i = 0; i < Model.Root.ChildrenCount; i++)
                    {
                        <li>
                            @{
                                var child = Model.Root.GetChild(i);
                            }
                            @Html.DisplayFor(m => child, "TreeNavigationItem", new { Lang = ViewData["Lang"] })
                        </li>
                    }

                    @if (ViewData.ContainsKey("Preview") && (ViewData["Preview"].ToString() == "preview" || ViewData["Preview"].ToString() == "partial"))
                    {
                        <li class="nav-right">User Navigation</li>
                    }
                    else
                    {
                        if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-right">
                                @using (Html.BeginForm("LogOut", "Account", new { returnUrl = Context.Request.Path + Context.Request.QueryString }, FormMethod.Post, true, new { id = "logoutForm", @class = "inline-block" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="submit" value="Logout" />
                                }
                            </li>
                            <li class="nav-right">
                                @Html.ActionLink("Hello " + UserManager.GetUserName(User) + "!", "Index", "Manage", routeValues: new { area = "" }, htmlAttributes: new { title = "Manage" })
                            </li>
                        }
                        else
                        {
                            <li class="nav-right">
                                @Html.ActionLink("Register", "Register", "Account", new { area = "" }, new { title = "Register" })
                            </li>
                            <li class="nav-right">
                                @Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { title = "Login" })
                            </li>
                        }
                    }
                </ul>
        </nav>
    </div>
</div>