@model SiteTriks.Models.Pages.CreatePageMainViewModel

@{
    ViewBag.Title = "Create Page";
}

@section Styles {
    <link href="~/css/navbar-remove.css" rel="stylesheet"/>
}

<div class="backend-wrapper">
    @using (Html.BeginForm("Create", "Pages", null, FormMethod.Post, true, new { id = "create-page-form" }))
    {
        @Html.AntiForgeryToken()

        <div class="fixed-top-2">
            @await Html.PartialAsync("SecondNavHeader")

            <a href="@Url.Action("Index")" class="btn-nav-2"><span class="st-icon-return-to-list"></span>Cancel</a>
            <button type="submit" id="submit" class="btn-nav-2">Save & Exit</button>
        </div>

        <strong><span class="text-danger" id="notifier"></span></strong>

        @Html.EditorFor(m => Model, "CreatePageViewModel")

        <div class="page-properties">
            <div class="form-group row">
                @Html.LabelFor(model => Model.Tags, htmlAttributes: new { @class = "control-label col-xs-2" })
                @Html.EditorFor(model => Model.Tags, new { htmlAttributes = new { @class = "form-control inline-block", id = "tags" } })
            </div>
        </div>
    }

    <br />
</div>

@section Scripts {
    <script src="~/js/text-editor.js"></script>
    <script src="~/js/date-extentions.js"></script>
    <script src="~/js/multiselect-setup.js"></script>
    <script src="~/js/tags.js"></script>
    <script src="~/js/validator.js"></script>
    <script src="~/js/sitetriks/pages.js"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                createPage('@Url.Action("ValidateUrl", "Pages")'+ '?url=');
            });
    </script>
}