@model SiteTriks.ForumModule.Models.EditDiscussionViewModel

@{
    ViewBag.Title = "Edit Discussion";
}

@section Styles {
    <link href="~/css/navbar-remove.css" rel="stylesheet" />
}

<div class="forum-wrapper">
    <div id="error-message" class="alert alert-danger" style="display: none;">

    </div>

    @using (Html.BeginForm("Edit", "Discussions", FormMethod.Post, htmlAttributes: new { area = "sitetriks", id = "edit-discussion" }))
    {
        <div class="fixed-top-3">
            @*@await Html.PartialAsync("SecondNavHeader")*@

            <a href="@Url.Action("Index")" class="btn-nav-2"><span class="st-icon-return-to-list"></span>Back to Discussions</a>
            <input type="submit" value="Save & Exit" class="btn-nav-2" />
        </div>

        <div class="page-properties">
            @Html.HiddenFor(model => model.Id)

            <div class="form-group row">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control cf_txtTitle should-validate-not-empty" } })
            </div>

            <div class="form-group row description-row">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", id = "content" } })
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script src="~/lib/custom/tinymce/tinymce.min.js"></script>
    <script src="~/js/text-editor.js"></script>
    <script src="~/js/sitetriks/discussions.js"></script>
    <script type="text/javascript">
        textEditor.initWithoutImages('#content', 500, 300);

        editDiscussion();
    </script>
}
