@*@model IEnumerable<SiteTriks.ForumModule.Models.DiscussionIndexViewModel>*@

@{
    ViewBag.Title = "Discussions";
}

@section styles{
    <link rel="stylesheet" href="~/css/grid.css" />
    <link rel="stylesheet" href="~/css/st-grid.css" />
}

<div class="fixed-top-3">
    @*@await Html.PartialAsync("SecondNavHeader")*@

    @if (User.Identity.IsAuthenticated)
    {
    <a href="@Url.Action("Create")" class="btn-nav-2">Create Discussion</a>
    }
</div>


<div class="forum-wrapper">
    <div class="grid"></div>
</div>



@section scripts{
    <script type="text/javascript" src="~/js/grid.js"></script>
    <script type="text/javascript">

        $(document).ready(function (ev) {

            var grid = Grid();
            var data = { link: "/forum/discussions/grid", serverSide: false }
            var columns = [
                {
                    name: "title",
                    title: "Discussion",
                    type: 'string',
                    filter: true,
                    sort: true,
                    size: 2,
                    headerTemplate: '<strong>#item#</strong>' // #item# is the placeholder for the content
                },
                {
                    name: "description",
                    title: "Description",
                    type: 'string',
                    filter: true,
                    sort: true,
                    size: 3,
                    headerTemplate: '<strong>#item#</strong>' // #item# is the placeholder for the content
                },
                {
                    name: "threadsCount",
                    title: "Threads Count",
                    type: 'number',
                    size: 1,
                    headerTemplate: '<strong>#item#</strong>' // #item# is the placeholder for the content
                },
                {
                    name: "dateCreated",
                    title: "Date Created",
                    type: 'date',
                    size: 1,
                    headerTemplate: '<strong>#item#</strong>' // #item# is the placeholder for the content
                },
                {
                    name: "dateModified",
                    title: "Date Modified",
                    type: 'date',
                    size: 1,
                    headerTemplate: '<strong>#item#</strong>' // #item# is the placeholder for the content
                },
                {
                    name: "id",
                    title: "Action",
                    type: 'string',
                    filter: false,
                    sort: false,
                    size: 2,
                    headerTemplate: '<strong>#item#</strong>',
                    contentTemplate: '<a class="btn" href="/forum/discussions/discussion/#item#">Details</a> | <a class="btn" href="/forum/discussions/edit/#item#">Edit</a> | <a class="btn btn" href="/forum/discussions/delete/#item#">Delete</a>'
                }
            ];

            var config = grid.build(columns, [], grid.defaultPager, data);

            let obj = grid.init('.grid', config);

        });
    </script>
}






@*<div class="backend-wrapper">
        <div class="" style="display:none;">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-1">
                <p>THREADS</p>
            </div>
            <div class="col-xs-3">
                <p>LATEST POSTS</p>
            </div>
        </div>



        @foreach (var item in Model)
        {
            <div class="cf_wrapper">
                <div class="cf_titleWrap">
                    <div>
                        <h2>@Html.ActionLink(item.Title, "Discussion", new { id = item.Id })</h2>
                    </div>

                </div>
                <div class="cf_countWrap">
                    <div>@item.ThreadsCount</div>
                </div>
                <div class="cf_threadWrap">
                    @if (item.LatestThread != null)
                    {
                        <div style="width:45%; float:left; border-right:1px solid #efefef;">@item.LatestThread.Title</div>
                        <div style="width:50%; float:left; margin:0 0 0 10px; font-size:11px;">@item.LatestThread.DateModified</div>
                        <div style="display:none;">@item.LatestThread.Id</div>

                    }
                    else
                    {
                        <p>Discussion is empty</p>
                    }
                </div>
                <div class="clearme"></div>
                <div class="cf_descriptionWrap">
                    <span>@Html.Raw(item.Description)</span>

                    @if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.BackEnd) || User.IsInRole(UserRoles.SuperAdmin))
                    {
                        <div>
                            @Html.ActionLink("Edit", "Edit", "Discussions", new { id = item.Id }, new { @class = "cf_button btn btn-warning" })
                            @Html.ActionLink("Delete", "Delete", "Discussions", new { id = item.Id }, new { @class = "cf_button btn btn-danger" })
                        </div>
                    }
                </div>
            </div>
        }
    </div>*@
