@model IEnumerable<SiteTriks.Models.News.NewsByYearViewModel>

<div class="row allnews-container">
    <div class="col-xs-12 col-sm-4">
        <h3>All News</h3>
        <div class="accordion">
            @foreach (var year in Model)
            {
                <h3 class="accordion-item">@year.Year</h3>
                <div class="accordion-nested" data-year="@year.Year">
                    @foreach (var month in year.Months)
                    {
                        <h3 class="accordion-item-nested-@year.Year" data-month="@month.Month">@month.Month</h3>
                        <div class="allnews-item" data-year="@year.Year" data-month="@month.Month">
                            @foreach (var news in month.News)
                            {
                                <div>
                                    <a class="detailed-news" href="javascript:void(0);" data-url="@news.Url">@news.Title</a>
                                </div>
                            }
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <div class="col-xs-12 col-sm-8">
        <div id="news-view-container">
        </div>
    </div>
</div>

