@model SiteTriks.CoreWidgets.ViewComponents.NewsCarouselModel

<section class="background-grey">
    <div class="container-fluid carousel-wrapper">
        <div class="carousel" data-slides-lg="@Model.Slides_Lg" data-slides-md="@Model.Slides_Md" data-slides-sm="@Model.Slides_Sm" data-slides-xs="@Model.Slides_Xs">
            @foreach (var item in Model.News)
            {
                @Html.DisplayFor(m => item)
            }
        </div>
    </div>
</section>
