@model SiteTriks.Models.Pages.EditPageContentViewModel

@{
    ViewBag.Title = "Edit Template Content";
    bool isAdmin = User.IsInRole(UserRoles.SuperAdmin) || User.IsInRole(UserRoles.Admin);
}

@section Styles {
    <link href="~/css/page-content-edit.css" rel="stylesheet">
    <link href="~/css/navbar-remove.css" rel="stylesheet" />
    <link href="~/css/layout.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/file-handler.css" />
}

<div class="fixed-top-2">
    @await Html.PartialAsync("SecondNavHeader")

    <a href="@Url.Action("Index")" class="btn-nav-2"><span class="st-icon-return-to-list"></span>Cancel</a>
    <a id="btn-save-draft" class="btn-nav-2" data-disable-warning="true"><span class="st-icon-save-draft"></span>Save Draft</a>
    <a id="btn-publish" class="btn-nav-2" data-disable-warning="true" data-toggle="modal" data-target="#warning-modal"><span class="st-icon-publish"></span>Save & Publish</a>
    <div class="nav-2-right">
        @*<a id="btn-preview-page" class="btn-nav-2"><span class="st-icon-preview"></span>Preview</a>*@
        <a id="btn-preview-page" class="btn-nav-2">
            <span class="st-icon-preview single"></span>
            <span class="tooltiptext">Preview current template</span>
        </a>
        @*<a id="btn-reset" class="btn-nav-2"><span class="st-icon-reset"></span>Reset</a>*@
        <a id="btn-reset" class="btn-nav-2">
            <span class="st-icon-reset single"></span>
            <span class="tooltiptext">Reset the template</span>
        </a>
        @*<a href="@Url.Action("Edit", new { url = Model.Url })" class="btn-nav-2"><span class="st-icon-properties"></span>Properties</a>*@
        <a id="btn-edit-page" href="@Url.Action("Edit", new { url = Model.Url })" class="btn-nav-2">
            <span class="st-icon-properties single"></span>
            <span class="tooltiptext">Edit the current page.</span>
        </a>
    </div>
</div>

<div class="backend-wrapper">

    <div id="alerts-delete"></div>

    @await Html.PartialAsync("AddWidget")
    @await Html.PartialAsync("EditWidget")

    <div class="row">
        <div class="col-xs-10">
            <div>
                <div class="inline-block revision-history-wrapper">
                    <a class="btn btn-revision">Revision History<span class="glyphicon glyphicon-menu-right"></span><span class="glyphicon glyphicon-menu-right"></span></a>
                    <div id="version-control" hidden>
                        <span>Ver.</span>
                        <select id="versions" class="form-control inline-block"></select>
                        <a id="btn-preview-version" class=""><span class="st-icon-preview single"></span><span class="tooltiptext">Preview the selected version</span></a>
                        <a id="btn-revert-version" class=""><span class="st-icon-reset single"></span><span class="tooltiptext">Revert the selected version</span></a>
                    </div>
                </div>
                <div class="resolutions-wrapper">
                    <span class="rs-icon-mobile resolution" data-type="xs"></span>
                    <span class="rs-icon-tablet resolution" data-type="sm"></span>
                    <span class="rs-icon-desktop resolution" data-type="md"></span>
                    <span class="rs-icon-desktop-hd resolution selected" data-type="lg"></span>
                </div>
            </div>
            <div id="preview-layout" hidden>
                <div class="rows-holder"></div>
                <div>
                    <div class="add-row"><span class="glyphicon glyphicon-plus"></span></div>
                </div>
            </div>
            <div id="preview-container"></div>
        </div>
        <div class="col-xs-2 widgets-list">
            <div class="toggle-layout-content">
                <div class="selected-option" data-type="content">
                    <div class="circle"></div>
                    <a class="show-content">Content</a>
                </div>
                <div data-type="layout">
                    <a class="show-layout">Layout</a>
                    <div class="circle"></div>
                </div>
            </div>
            @await Component.InvokeAsync("ShowWidgets")
            <div id="layout-properties" hidden>
                <hr />
                <div id="main-layout-options"></div>
            </div>
        </div>
    </div>

    <div id="delete-confirm" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirm delete</h4>
                </div>
                <div class="modal-body">
                    <p>Are you absolutely sure you want to <b>delete?</b></p>
                    <input type="button" id="delete-confirm-yes" value="Yes, delete widget" class="btn btn-danger" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="warning-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="child-pages-container">
                        <h5>Pages which will be modified:</h5>
                        <ul id="child-pages-list" class="list-group"></ul>
                    </div>

                    <div id="child-templates-container">
                        <h5>Templates which will be modified:</h5>
                        <ul id="child-templates-list" class="list-group"></ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="warning-modal-publish" type="button" class="btn btn-warning">Publish</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete confirmation modal -->
    <div id="layout-delete-confirmation" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete confirmation modal</h4>
                </div>
                <div class="modal-body">
                    <p>With deletion of rows/cols you will delete and inner content! Are you sure you want to continue?</p>
                </div>
                <div class="modal-footer">
                    <button id="delete-layout-content" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script>
        customWidgets = {};
    </script>
    <script src="~/lib/custom/tinymce/tinymce.min.js"></script>
    <script src="~/js/shared-blocks.js"></script>
    <script src="~/js/widgets-draggable.js"></script>
    <script src="~/js/modules/utils.js"></script>
    <script src="~/js/modules/widgets.js"></script>
    <script src="~/js/modules/module-builder.js"></script>
    <script src="~/js/modules/file-handler.js"></script>
    <script src="~/js/text-editor.js"></script>
    <script src="~/js/carousel.js"></script>
    <script src="~/js/modules/layout-control.js"></script>
    <script src="~/js/sitetriks/templates.js"></script>
    <script src="~/js/sitetriks/pages.js"></script>
    <script src="~/js/multiselect-setup.js"></script>

    @foreach (var script in Model.WidgetsScripts)
    {
        string src = $"/js/widgets/{script}.js";
        <script src="@src"></script>
    }

    <script type="text/javascript">
        var url = '@Model.Url'.replace("/", "%2F");

        //===================================================================================================
        // Widgets 2.0

        var logger = new Logger('debug');
        var mediator = new Mediator(logger);

        ModuleBuilder.init(mediator, logger);

        var w = ModuleBuilder.createWidgets('#add-widget-container', customWidgets, @Html.Raw(Json.Serialize(Model.Contents)));

        //===================================================================================================

        $(document).ready(function () {
            var currentLanguage = '@Model.Culture';
            var currentCulture = '@Model.Culture';
            var currentVersion = '@Model.Version';
            var currentTemplate = '@Model.Template';

            WarningWindow.attach();
            editTemplateContent(url, currentLanguage, currentVersion, currentCulture, currentTemplate, w);
        });
    </script>
}
