@model SiteTriks.Dynamic.Models.DynamicTypeMainViewModel

@{ var items = Model.Entries.OrderBy(e => e["Position"]).ToList();}

<link href="~/Content/custom/home-page.css" rel="stylesheet" />
<style>
    .see-more {
        display: none;
    }

    /* just to be visible */
    #see-more-features {
        background-color: red;
        text-align: center;
        cursor: pointer;
        color: #fff;
    }
</style>

<div class="detailed-menu hidden-by-menu">
    <div class="wrapper-menu-items">
        @for (int i = 0; i < items.Count; i += 2)
        {
            bool lastClass = false;
            string rowClass = string.Empty;
            if (i + 2 >= items.Count)
            {
                lastClass = true;

            }

            if (i >= 6)
            {
                rowClass = "see-more";
            }

            <div class="row @rowClass">
                <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 item before-item"></div>
                <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 item before-item"></div>
                <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 item before-item @{if (lastClass) {<text> third-last </text> } } "></div>
                <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 item before-item fourth-last"></div>
            </div>
            <div class="row @rowClass">
                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-12 item item-left @{if (lastClass) { <text> last-left </text> } }">
                    <div class="tree-item">
                        <div class="icon">
                            <img src="/files/id/@items[i].Images" alt="menu-icon">
                        </div>
                        <div class="item-header">
                            <img src="~/Content/Images/mobile/Arrow down.svg" alt="shrank" style="display:none" class="arrow-down item-arrow" />
                            <img src="~/Content/Images/mobile/side arrow dark.svg" alt="shrank" class="side-arrow item-arrow" />
                            @items[i].Title
                        </div>
                        <div class="item-body">
                            @Html.Raw(System.Net.WebUtility.HtmlDecode(items[i].HtmlContent))
                        </div>
                    </div>
                </div>
                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-12 item item-right @{if (lastClass) { <text> last-right </text> } }">
                    @if (i + 1 < items.Count)
                    {
                        <div class="tree-item">
                            <div class="icon">
                                <img src="/files/id/@items[i + 1].Images" alt="menu-icon">
                            </div>
                            <div class="item-header">
                                <img src="~/Content/Images/mobile/Arrow down.svg" alt="shrank" style="display:none" class="arrow-down item-arrow" />
                                <img src="~/Content/Images/mobile/side arrow dark.svg" alt="shrank" class="side-arrow item-arrow" />
                                @items[i + 1].Title
                            </div>
                            <div class="item-body">
                                @Html.Raw(System.Net.WebUtility.HtmlDecode(items[i + 1].HtmlContent))
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

        @if (items.Count >= 6)
        {
            <div id="see-more-features">SEE MORE</div>
        }
    </div>
</div>


<script>
    $('#see-more-features').on('click', function () {
        let $trigger = $(this);

        if ($trigger.text() == 'SEE MORE') {
            $trigger.text('SEE LESS');

            $('.see-more').each(function (_, element) {
                $(element).show();
            });
        } else {
            $trigger.text('SEE MORE');

            $('.see-more').each(function (_, element) {
                $(element).hide();
            });
        }
    })
</script>