@model SiteTriks.Models.ECommerce.ECommerceOrderViewModel

@{
    ViewBag.Title = "Change order status";
}
@section Styles {
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
}

@section Styles {
    <link href="~/css/navbar-remove.css" rel="stylesheet" />
}

<div class="backend-wrapper">
    @using (Html.BeginForm("Edit", "ECommerceOrders", new { id = Model.Id }, FormMethod.Post, true, new { id = "edit-ecommerce-item-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="fixed-top-2">
            <p>@ViewBag.Title</p>

            <a href="@Url.Action("Index")" class="btn-nav-2"><span class="st-icon-return-to-list"></span>Return to List</a>
            <input type="submit" value="Save & Exit" id="submit-form" class="btn-nav-2" />

            <select id="languages" class="form-control inline-block">
                <option value="">BackEnd/Default</option>
            </select>
        </div>

        @*<div id="alerts"></div>*@
        <strong><span class="text-danger" id="notifier">@ViewBag.ErrorMessage</span></strong>
        <hr />

        <div id="backend-info">
            <div class="page-properties">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(m => Model.Id)

                <div class="form-group row description-row">
                    @Html.LabelFor(m => Model.StatusType, "Status", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select asp-for="StatusType">
                            <option value="SendingOff">SendingOff</option>
                            <option value="InTransit">InTransit</option>
                            <option value="Delivered">Delivered</option>
                        </select>
                        <strong><span class="text-danger"></span></strong>
                        @Html.ValidationMessageFor(m => Model.StatusType, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>