@model SiteTriks.RssFeedModule.Models.CreateRssFeedViewModel
@*<h3>@Model.BuilderName</h3>*@
@*@Html.HiddenFor(model => model.BuilderName)*@


<hr />
@for (int i = 0; i < Model.RssFeedItems.Count; i++)
{
<div class="form-group row description-row">
    <label class="control-label col-md-2">@Model.RssFeedItems[i].FieldName</label>
    @*@Html.LabelFor(m => Model.RssFeedItems[i].FieldName, htmlAttributes: new { @class = "control-label col-md-2" })*@
    @*</div>*@

    @Html.HiddenFor(model => model.RssFeedItems[i].FieldName)
    @Html.EditorFor(x => Model.RssFeedItems[i].FieldValue, Model.RssFeedItems[i].FieldValue, new { htmlAttributes = new { @class = "form-control" } })
</div>

}
<hr />


<div class="form-group row">
        @Html.LabelFor(m => m.MapFrom, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DropDownListFor(m => m.MapFrom, Model.AvailableMappingsModels, Model.MapFrom == null ? "" : Model.MapFrom, new { @class = "form-control", Id = "mapping_options" })
</div>
<hr />
<div id="mappings" class="row">

</div>

<script src="~/js/sitetriks/rss-feeds.js"></script>
<script>
    WarningWindow.attach();
    builderFields('@Url.Action("Mappings")', '@Model.BuilderName')
</script>


