@model SiteTriks.RssFeedModule.Models.CreateRssFeedViewModel

@{
    ViewBag.Title = "Create RssFeed Configuration";
}

@section Styles {
    <link href="~/css/navbar-remove.css" rel="stylesheet" />
}

<div class="backend-wrapper">
    <div class="alert-danger">
        @Html.ValidationSummary()
    </div>
    @using (Html.BeginForm())
    {
        <div class="fixed-top-2">
            @await Html.PartialAsync("SecondNavHeader")

            <a href="@Url.Action("Index")" class="btn-nav-2"><span class="st-icon-return-to-list"></span>Cancel</a>
            <button type="submit" id="submit" value="Create" class="btn-nav-2"><span class="glyphicon glyphicon-plus"></span>Create Rss Feed</button>
        </div>

        <div class="page-properties">
            <div class="form-group row">
                @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "control-label col-md-2 col-xs-2" })
                @Html.EditorFor(m => m.Name, Model.Name, new { htmlAttributes = new { @class = "form-control", Id = "title" } })
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => Model.Url, htmlAttributes: new { @class = "control-label col-md-2 col-xs-2" })
                @Html.EditorFor(model => Model.Url, new { htmlAttributes = new { @class = "form-control inline-block", Id = "url" } })
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.BuilderName, htmlAttributes: new { @class = "control-label col-md-2 col-xs-2" })
                @Html.DropDownListFor(model => model.BuilderName, Model.BuilderSelectItems, "", new { @class = "form-control", @id = "builder_options" })
            </div>

            <div id="fieldItems"></div>
        </div>
    }
</div>

@section Scripts {
<script src="~/js/sitetriks/rss-feeds.js"></script>
<script>
    createRssFeed('@Url.Action("ValidateUrl", "Pages")', '@Url.Action("BuilderFields")?builderName=');   
</script>
}
