@model SiteTriks.RssFeedModule.Models.RssFeedViewModel

@{
    ViewBag.Title = "RssFeed Configuration Details";
}

@section Styles {
    <link href="~/css/navbar-remove.css" rel="stylesheet" />
}

<div class="backend-wrapper">
    <div class="fixed-top-2">
        @await Html.PartialAsync("SecondNavHeader")

        <a href="@Url.Action("Index")" class="btn-nav-2"><span class="st-icon-return-to-list"></span>Cancel</a>
        <a href="/rssfeeds/@Model.Url" class="btn-nav-2">View Rss</a>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>Configuration name: @Model.Name</h3>
            <h3>Builder name: @Model.BuilderName</h3>
            <h3>Url: rsssfeeds/@Model.Url</h3>
            <hr />
            <div class="row">
                <h3>Item Mappings</h3>
                <h3>FieldTo | FieldFrom</h3>
                @foreach (var item in Model.ItemMappings)
                {
                    <h4>@item.FieldTo | @item.FieldFrom</h4>
                }
            </div>
        </div>
        <div class="col-md-6">
            <h3>Rss Field Items</h3>
            <h3>FieldName | FieldValue</h3>
            @foreach (var item in Model.RssFeedItems)
            {
                <h4>@item.FieldName | @item.FieldValue</h4>
            }
        </div>
    </div>
</div>
