@model IEnumerable<SiteTriks.RssFeedModule.Models.RssFeedViewModel>

@{
    ViewBag.Title = "RssFeed Configuration";
}

<div class="fixed-top-2">
    @await Html.PartialAsync("SecondNavHeader")

    <a href="@Url.Action("Create")" class="btn-nav-2"><span class="glyphicon glyphicon-plus"></span>Create Rss Feed</a>
</div>

@*<div class="backend-wrapper">

        @foreach (var item in Model)
        {
            <h3><a href="@Url.Action("Details", new { id = item.Id })">Name: @item.Name</a></h3>
            <h3>Builder: @item.BuilderName</h3>
            <h3>Map from: @item.MapFrom</h3>

            <a href="@Url.Action("Delete", new { id = item.Id })">Delete</a>
            <a href="@Url.Action("Edit", new { id = item.Id })">Edit</a>
            <a href="/rssfeeds/@item.Url">View RssFeed</a>
            <hr />
        }
    </div>*@

<div class="backend-wrapper">
    <div class="grid">

    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var grid = Grid();
        var data = { link: "/sitetriks/rssfeed/grid", serverSide: false }
        var columns = [
            {
                name: 'id',
                title: '',
                type: 'checkbox',
                size: 1
            },
            {
                name: "name",
                title: "Configuration Name",
                type: 'string',
                size: 1,
                extraFields: ["id"],
				contentTemplate: '<a href="/sitetriks/rssfeed/details/#item0#">#item#</a>',
				headerTemplate: '<b>Configuration name</b>'
            },
            {
                name: "builderName",
                title: "Builder Name",
                type: 'string',
                size: 1,
                contentTemplate: '<span class="text-danger">#item#</span>',
                headerTemplate: '<b>Builder Name</b>'
            },
            {
                name: "mapFrom",
                title: "Map From",
                type: 'string',
                size: 1,
                contentTemplate: '<span class="text-danger">#item#</span>',
                headerTemplate: '<b>Map From</b>'
            },
            {
                name: "dateModified",
                title: "Date modified",
                type: 'date',
                size: 2,
                contentTemplate: '<span class="text-danger">#item#</span>',
                headerTemplate: '<b>#item#</b>'
            },
            {
                name: "dateCreated",
                title: "Date created",
                type: 'date',
                size: 2,
                contentTemplate: '<span class="text-danger">#item#</span>',
                headerTemplate: '<b>#item#</b>'
            },
            {
                name: "id",
                title: "Edit",
                type: 'string',
                size: 1,
                contentTemplate: '<a class="btn-sm btn-warning" href="/sitetriks/rssfeed/edit/#item#"><i class="fa fa-pencil" aria-hidden="true"></i></a>',
                headerTemplate: '<b>Edit</b>'
            },
            {
                name: "url",
                title: "View Rss",
                type: 'string',
                size: 1,
                contentTemplate: '<a class="btn-sm btn-warning" href="/rssfeeds/#item#"><i class="fa fa-eye" aria-hidden="true"></i></a>',
                headerTemplate: '<b>ViewRss</b>'
            }
        ];

        let buttons = [
            {
                title: 'Delete',
                postUrl: '/sitetriks/rssfeed/delete',
                type: 'danger'
            }
        ];

        var config = grid.build(columns, buttons, grid.defaultPager, data);

        let obj = grid.init('.grid', config);
    </script>
}
