@model IEnumerable<SiteTriks.Models.Libraries.LibraryIndexViewModel>

@{
    ViewBag.Title = "File Libraries";
}

@section styles{
    <link rel="stylesheet" href="~/css/file-handler.css" />
}

<div class="fixed-top-2">
    @*@await Html.PartialAsync("SecondNavHeader")*@

    <button class="btn-nav-2" type="button" data-toggle="modal" data-target="#file-upload-modal">Upload file</button>
    <a href="@Url.Action("Create")" class="btn-nav-2"><span class="glyphicon glyphicon-plus"></span>Create Library</a>
    <select id="libs" class="form-control inline-block">
        <option value="">All files</option>
        @foreach (var item in Model)
        {
            <option value="@item.Id" data-url="@item.Prefix">@item.Name</option>
        }
    </select>
    <a id="btn-edit-lib" class="btn-nav-2" hidden>Edit</a>
    <a id="btn-delete-lib" class="btn-nav-2" hidden>Delete</a>

    <div class="page-title"><span>@ViewBag.Title</span></div>
</div>

<div class="backend-wrapper">
    <div class="grid library-grid">
    </div>
</div>

<div class="modal fade" id="file-upload-modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Files</h4>
            </div>
            <div class="file-handler-wrapper">

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/js/modules/file-handler.js"></script>
    <script type="text/javascript" src="~/js/modules/utils.js"></script>
    <script type="text/javascript" src="~/js/modules/pager.js"></script>
    <script type="text/javascript" src="~/js/modules/data-source.js"></script>
    <script type="text/javascript" src="~/js/modules/grid.js"></script>
    <script src="~/js/sitetriks/libraries.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var columns = [{
                name: 'id',
                title: '',
                type: 'checkbox',
                size: 1
            },
            {
                name: "title",
                title: "Title",
                type: 'string',
                filter: true,
                sort: true,
                extraFields: ["url"],
                size: 2,
                headerTemplate: '<b>#item#</b>', // #item# is the placeholder for the content
                contentTemplate: '<a href="/sitetriks/files/edit?url=#item0#">#item#</a>'
            },
            {
                name: "url",
                title: "Url",
                type: 'string',
                filter: true,
                sort: true,
                size: 2,
                contentTemplate: '<span class="text-danger">#item#</span>',
                headerTemplate: '<b>#item#</b>'
            },
            {
                name: "url",
                title: "Copy",
                type: 'string',
                filter: false,
                sort: false,
                size: 1,
                headerTemplate: '<b class="copy">#item#</b>',
                contentTemplate: '<button title="Copy link to clipboard" class="btn btn-info copy" data-url="#item#"><i class="fa fa-clipboard" aria-hidden="true"></i></button>'
            },
            {
                name: "url",
                title: "Preview",
                size: 3,
                type: 'image',
                source: '/files/#item#',
                headerTemplate: '<b>#item#</b>',
                contentTemplate: '<img src="#item#" width="300" class="display-image" onerror="$(this).css(\'width\', \'100px\'); this.src = \'/Images/default-document-image.png\';" />'
            },
            {
                name: "isUsed",
                title: "Used",
                size: 1,
                type: 'bool',
                headerTemplate: '<b>#item#</b>',
                falseTemplate: '<div class="isUsed-false"></div>',
                trueTemplate: '<div class="isUsed-true"></div>'
            },];

            var buttons = [{
                title: 'Delete',
                postUrl: '/sitetriks/files/delete',
                type: 'danger'
            },
            {
                title: 'Create ThumbNails',
                postUrl: '/sitetriks/files/generatethumbnails',
                type: 'danger'
            }];


            var helpers = {
                'switch': function(value, options) {
                    this._switch_value_ = value;
                    this._switch_break_ = false;
                    var html = options.fn(this);
                    delete this._switch_break_;
                    delete this._switch_value_;
                    return html;
                },
                'case': function(value, options) {
                    var args = Array.prototype.slice.call(arguments);
                    var options = args.pop();
                    var caseValues = args;

                    if (this._switch_break_ || caseValues.indexOf(this._switch_value_) === -1) {
                        return '';
                    } else {
                        if (options.hash.break === true) {
                            this._switch_break_ = true;
                        }
                        return options.fn(this);
                    }
                },
                'default': function(options) {
                    if (!this._switch_break_) {
                        return options.fn(this);
                    }
                }
            };

            for (let key in helpers) {
                Handlebars.registerHelper(key, helpers[key]);
            }


            /* Image = 0,
             * Document = 1,
             * Video = 3,
             * Svg = 4,
             * ImageTmb = 5
             */
            var handlebarsTemplate = 
            '<div style="width:auto; position:relative; border: 1px solid #979797; border-radius: 3px; margin: 1px;">'+
                '<div style="position: absolute;top: 7px;left: 5px;">'+
                    '<input class="st-grid-checkbox" type="checkbox" data-id="{{id}}" style="margin-left: 5px;" >'+
                '</div>'+
                '{{#switch type}}'+
                    '{{#case 0 4 5 break=true}}<img src="/files/{{url}}" style="height:150px" >{{/case}}'+
                    '{{#case 1 break=true}}<img src="/images/default-document-image.png" alt="document" style="height:150px" >{{/case}}'+
                    '{{#case 3 break=true}}<img src="/images/mp4-icon.png" alt="video" style="height:150px" >{{/case}}'+
                    '{{#default}}not supported file type{{/default}}'+
                '{{/switch}}'+
                '<div class="thumbnailSelector">'+
                    '<div class="thumbnailSelector">'+
                        '<span><a href="/sitetriks/files/edit?url={{url}}">{{ title }}</a></span>'+
                    '</div>'+
                '</div>'+
            '</div>'

            var filesGrid = new _Grid({
                wrapperId: '.grid',
                type: 'grid',
                fields: columns,
                sourceConfig: { type: 'client', url: '/sitetriks/files/grid' },
                pagerConfig: defaultPager,
                customActions: buttons,
                handlebarsTemplate: handlebarsTemplate,
            });

            var logger = new Logger('debug');
            var mediator = new Mediator(logger);

            initLibraries(filesGrid, mediator, logger);
        });
    </script>
}
